@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


body {
	height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-image: url("img.jpg");
	
}

.instructions {
	text-align: left;
	position:absolute; left: 70px;
    padding-top: 0rem;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
	border-radius: 20px;

}

.greetings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.textbox {
	display: flex;
}

.name-text {
	
	display: flex;
    position: relative;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.name-text, .numberOfGreetings, .radioGroup {
	padding: 15px;
	border-radius: 20px;
	background: white;
	color: black;
}

.radioGroup {
	margin-top: 5px;
	margin-bottom: 5px;
	background: rgb(30, 170, 213);
}

.radioGroup > * {
	display: inline-block;
	background: rgba(240, 136, 9, 0.951);
	padding: 10px;
	border-radius: 5px;
	color: rgb(245, 248, 249);
}

.text-answer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	background: white;
	color: black;
	border-radius: 5px;
	
}

.buttons {
	display: flex;
	flex-direction: column;
}

.buttons > * {
	
	margin-top: 6px; 
	text-transform: uppercase;
	background:rgba(240, 136, 9, 0.951);
    align-self: center;
    padding: 10px;
    outline: #1fa0b1;
    border: none;
    cursor: pointer;
    color: #eee;
    border-radius: 1rem;
    width: 20rem;
}
