body {
	background: tomato;
	color: white;
}

.greetings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.textbox {
	display: flex;
}

.name-text {
	width: 100%;
	margin-right: 3px;
}

.name-text, .numberOfGreetings, .radioGroup {
	padding: 15px;
	border: 3px solid black;
	border-radius: 20px;
	background: white;
	color: black;
}

.radioGroup {
	margin-top: 5px;
	margin-bottom: 5px;
}

.radioGroup > * {
	display: inline-block;
	background: gray;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.text-answer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	background: white;
	color: black;
	border-radius: 5px;
	border: 3px solid black;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.buttons > * {
	background: gray;
	padding: 10px;
	color: white;
	border: 3px solid black;
	margin-top: 2px;
	text-transform: uppercase;
}
